.body{
    display: flex;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    font-size: 5rem;
    height: 20vh;
    width: 100%;
}

.textarea{
    color: white;
    height: 100%;
    width: 20%;
    resize: none;
    border: 0.5vh solid white;
    border-radius: 0.5vh;
    background-color: black;
    text-align: center;
    font-size: 5rem;
}

.firstButton{
    height: 110%;
    margin-left: 5%;
    border: 0.5vh solid white;
    border-radius: 0.5vh;
    background-color: black;
    font-size: 5rem;
    cursor: pointer;
    color: white;
}

.result{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 18%;
    margin: 1%;
    font-size: 2rem;
    text-align: center;
    color:white
}

.resultTopBar{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    margin-bottom: 1%;
}

.resultData{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 15%;
    border-top: 0.5vh solid white;
    border-right: 0.5vh solid white;
    border-left: 0.5vh solid white;
    padding-bottom: 1%;
}

.resultRate{
    height: 50px;
    border: 0.5vh solid white;
    padding-bottom: 1%;
}

.resultContent{
    margin-top: 20vh;
    height: 75vh;
    overflow: auto;
}

.play{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.head{
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 5rem;
    height: 20vh;
}

.imageBox{
    display: flex;
    justify-content: space-around;
    height: 40vh;
    width: 80%;
    text-align: center;
}

.image{
    border: 0.5vh solid white;
    border-radius: 0.5vh;
    width: 20vw;
    height: 100%;
    font-size: 1.5rem;
}

.buttonBox{
    display: flex;
    justify-content: space-around;
    width: 40%;
    height: 20%;
    margin: 2%;
}

.button{
    color: white;
    width: 30%;
    cursor: pointer;
    font-size: 2.5rem;
    background-color: black;
    border: 0.5vh solid white;
    border-radius: 0.5vh;
    border-radius: 0.5vh;
    border-radius: 0.5vh;
}

.round{
    height: 20%;
    font-size: 2.5rem;
}

.timerText{
    height: 15%;
    margin-top: 20%;
    font-size: 2rem;
}

.timer{
    height: 50%;
    width: 40vh;
    font-size: 5rem;
}

.onlyTopBorder{
    border-top: 0.5vh solid white;
}

.onlyBottomBorder{
    border-bottom: 0.5vh solid white;
}

.scissors{
    width: 60%;
    height: 80%;
}

.rock{
    width: 75%;
    height: 75%;
}

.paper{
    width: 80%;
    height: 80%;
}